.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}